<section id="about" class="min-h-3 bg-[#FFCC7A] text-[#3049AA] px-8 md:px-16 py-24">

  <div class="max-w-7xl mx-auto">

    <!-- Heading -->
    <div class="flex justify-between items-start mb-20">
      <h2 class="text-6xl md:text-8xl font-bold tracking-[6px]">
        ABOUT
      </h2>

      <span class="text-7xl rotate-6 tracking-[3px]">
        <i class="fa-solid fa-star"></i>
      </span>
    </div>

    <div class="grid md:grid-cols-2 gap-16 items-center">

      <!-- Contact Card -->
      <div class="bg-white rounded-3xl p-8 md:p-10 shadow-sm">

        <h3 class="text-3xl font-semibold mb-8">
          Let's Connect
        </h3>

        <!-- Location -->
        <div class="flex items-center gap-5 mb-6">
          <div class="w-12 h-12 rounded-full bg-[#3049AA] text-white
                      flex items-center justify-center">
            <i class="fa-solid fa-location-dot text-lg"></i>
          </div>

          <div>
            <p class="text-sm opacity-60">Location</p>
            <p class="text-lg font-medium">Alexandria, Egypt</p>
          </div>
        </div>

        <!-- Email -->
        <div class="flex items-center gap-5 mb-6">
          <div class="w-12 h-12 rounded-full bg-[#3049AA] text-white
                      flex items-center justify-center">
            <i class="fa-solid fa-envelope text-lg"></i>
          </div>

          <div>
            <p class="text-sm opacity-60">Email</p>
            <p class="text-lg font-medium">yomnaelsayed3@example.com</p>
          </div>
        </div>

        <!-- Phone -->
        <div class="flex items-center gap-5">
          <div class="w-12 h-12 rounded-full bg-[#3049AA] text-white
                      flex items-center justify-center">
            <i class="fa-solid fa-phone text-lg"></i>
          </div>

          <div>
            <p class="text-sm opacity-60">Phone</p>
            <p class="text-lg font-medium">+20 100 237 8286</p>
          </div>
        </div>

      </div>


      <!-- About Text -->
      <div>

        <p class="text-3xl md:text-xl leading-8 max-w-xl">
          I'm Youmna El Sayed, a frontend developer and graphic designer
          passionate about creating digital experiences that combine
          creativity with functionality.
        </p>

        <p class="text-3xl md:text-xl leading-8 mt-6 max-w-xl">
          From designing visual identities to building responsive
          websites, I enjoy bringing ideas to life through both
          design and code.
        </p>

      </div>

    </div>

  </div>

</section>