<section class="min-h-170 bg-[#3049AA] text-white relative px-15 py-12">
<!-- Decorative elements -->
<span class="absolute text-[#FFCC7A] text-4xl top-40 left-38">
  ✦
</span>

<span class="absolute text-[#FFCC7A] text-3xl right-42 top-32">
  +
</span>

<span class="absolute text-[#FFCC7A] text-2xl right-50 bottom-20">
  ✦
</span>
  <!-- Top Left -->
  <div class="text-[21px] leading-7 tracking-[2px] font-light">
    <p>Graphic Designer</p>
    <p>Frontend Developer</p>
  </div>

  <!-- Center -->
  <div class="absolute inset-0 flex flex-col items-center justify-center -mt-2">

    <h1 class="text-6xl md:text-7xl font-bold tracking-[8px]">
      YOUMNA’S
    </h1>

    <p class="text-4xl md:text-5xl font-light tracking-[7px] mt-1">
      Portfolio
    </p>
<div class="flex items-center gap-3 mt-15">
    <button
    class="cursor-pointer px-7 py-3 rounded-full bg-[#FFCC7A] text-[#3049AA] font-medium
           tracking-wide transition-all duration-300
           hover:bg-[#f5bd62] hover:-translate-y-1"
  >
    View My Work
  </button>

  <!-- Secondary Button -->
  <button
    class="cursor-pointer px-7 py-3 rounded-full border-2 border-[#FFCC7A] text-[#FFCC7A]
           font-medium tracking-wide transition-all duration-300
           hover:bg-[#FFCC7A] hover:text-white hover:-translate-y-1"
  >
    Contact Me
  </button>

  </div>
  </div>

  
</section>