<section class="bg-[#3049AA] py-20 px-6">

  <!-- Section Title -->
  <div class="max-w-6xl mx-auto">

    <h2 class="text-4xl md:text-5xl font-bold text-[#FFCC7A] mb-10">
      PROJECTS
    </h2>

    <div class="mb-5">
        <!-- Category Labels -->
    <div class="flex flex-wrap gap-4 mb-10">

      <button
        class="px-6 py-3  border-white text-white font-semibold text-3xl transition">
        <i class="fa-solid fa-brush"></i> Graphic Design Projects
      </button>

    </div>

    <!-- Projects Grid -->
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div routerLink="/coffeeandstories" class="bg-white rounded-3xl overflow-hidden hover:cursor-pointer hover:shadow-2xl">

        <div class="h-48 bg-gray-200 overflow-hidden flex items-center justify-center">
          <span class="text-[#3049AA] font-bold text-xl">
            <img src="coffeeandstories/Coffee & Stories.png" class="fit" alt="logo">
          </span>
        </div>

        <div class="p-6">

          <h3 class="text-2xl font-bold text-[#3049AA] mt-2">
            Coffee & Stories
          </h3>

          <p class="text-gray-600 mt-2">
            Building brand identity and social media marketing.
          </p>

          <div class="flex gap-2 mt-4 flex-wrap">
            <span class="px-3 py-1 bg-[#FFCC7A] rounded-full text-sm">
              Photoshop
            </span>
            <span class="px-3 py-1 bg-[#FFCC7A] rounded-full text-sm">
              Canva
            </span>
          </div>
        </div>

      </div>

      <div routerLink="/scentsbyyara" class="bg-white rounded-3xl overflow-hidden hover:cursor-pointer hover:shadow-2xl">

        <div class="h-48 bg-gray-200 overflow-hidden flex items-center justify-center">
          <span class="text-[#3049AA] font-bold text-xl">
            <img src="candles/Untitled-1.png" class="fit" alt="logo">
          </span>
        </div>

        <div class="p-6">

          <h3 class="text-2xl font-bold text-[#3049AA] mt-2">
            Scents By Yara
          </h3>

          <p class="text-gray-600 mt-2">
            Product packaging and brand identity.
          </p>

          <div class="flex gap-2 mt-4 flex-wrap">
            <span class="px-3 py-1 bg-[#FFCC7A] rounded-full text-sm">
              Photoshop
            </span>
          </div>
        </div>

      </div>


    </div>
    </div>


    <div class="mt-20">
        <div class="flex flex-wrap gap-4 mb-10">

      <button
        class="px-6 py-3 text-3xl text-white font-semibold transition">
        <i class="fa-solid fa-code"></i> Frontend Projects
      </button>

    </div>

    <!-- Projects Grid -->
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
      <a href="https://freeshcart-nine.vercel.app/login" class="bg-white rounded-3xl overflow-hidden hover:cursor-pointer hover:shadow-2xl">

        <div class="h-48 bg-gray-200 overflow-hidden flex items-center justify-center">
          <span class="text-[#3049AA] font-bold text-xl">
            <img src="fresh-cart.png" class="fit" alt="logo">
          </span>
        </div>

        <div class="p-6">

          <h3 class="text-2xl font-bold text-[#3049AA] mt-2">
            FreshCart | E-Commerce
          </h3>

          <p class="text-gray-600 mt-2">
            Responsive e-commerce platform featuring product browsing, cart functionality and API integration.
          </p>

          <div class="flex gap-2 mt-4 flex-wrap">
            <span class="px-3 py-1 bg-[#FFCC7A] rounded-full text-sm">
              Angular
            </span>
            <span class="px-3 py-1 bg-[#FFCC7A] rounded-full text-sm">
              TypeScript
            </span>
            <span class="px-3 py-1 bg-[#FFCC7A] rounded-full text-sm">
              Tailwind
            </span>
          </div>
        </div>

      </a>

      <a href="https://social-app-six-ecru.vercel.app/login" class="bg-white rounded-3xl overflow-hidden hover:cursor-pointer hover:shadow-2xl">

        <div class="h-48 bg-gray-200 overflow-hidden flex items-center justify-center">
          <span class="text-[#3049AA] font-bold text-xl">
            <img src="SocialApp.png" class="fit" alt="logo">
          </span>
        </div>

        <div class="p-6">

          <h3 class="text-2xl font-bold text-[#3049AA] mt-2">
            Social App
          </h3>

          <p class="text-gray-600 mt-2">
             Social media interface using Angular with authentication, posts, comments, profiles, and REST API integration.
          </p>

          <div class="flex gap-2 mt-4 flex-wrap">
            <span class="px-3 py-1 bg-[#FFCC7A] rounded-full text-sm">
              Angular
            </span>
            <span class="px-3 py-1 bg-[#FFCC7A] rounded-full text-sm">
              TypeScript
            </span>
            <span class="px-3 py-1 bg-[#FFCC7A] rounded-full text-sm">
              Tailwind
            </span>
          </div>
        </div>

      </a>

      <a href="https://wanderlusttravels-one.vercel.app/" class="bg-white rounded-3xl overflow-hidden hover:cursor-pointer hover:shadow-2xl">

        <div class="h-48 bg-gray-200 overflow-hidden flex items-center justify-center">
          <span class="text-[#3049AA] font-bold text-xl">
            <img src="wanderlust.png" class="fit" alt="logo">
          </span>
        </div>

        <div class="p-6">

          <h3 class="text-2xl font-bold text-[#3049AA] mt-2">
            Wanderlust
          </h3>

          <p class="text-gray-600 mt-2">
              Dynamic travel application using JavaScript with API integration, DOM manipulation, and asynchronous data handling. 
          </p>

          <div class="flex gap-2 mt-4 flex-wrap">
            <span class="px-3 py-1 bg-[#FFCC7A] rounded-full text-sm">
              JavaScript
            </span>
            <span class="px-3 py-1 bg-[#FFCC7A] rounded-full text-sm">
              Bootstrap
            </span>
            <span class="px-3 py-1 bg-[#FFCC7A] rounded-full text-sm">
              HTML/CSS
            </span>
          </div>
        </div>

      </a>

    </div>
    </div>
  </div>

</section>